.popup-layout {
    font-size: 18px;
    box-sizing: border-box;

    .popup-mode {
        position: fixed;
        left: 0;
        bottom: 0;
        right: 0;
        top: 0;
        background-color: #ccc;
        opacity: 0.5;
        z-index: 5050;
    }

    .popup-container {
        position: fixed;
        left: 10%;
        bottom: 0;
        right: 0;
        top: 15%;
        z-index: 6000;
        background-color: #fff;

        .swiper-container {
            height: inherit;
        }

        .popup-content {
             height: 100%;
        }
    }

    .popup-header {
        padding: 10px 0;
    }

    .popup-body {
        padding-left: 15px;
        // padding-right: 15px;
        word-wrap: break-word;
        word-break: break-all;
        color: #999;
        font-size: 15px;
        height: 55%;
    }
    .popup-footer{
      background-color: #fff;
      display: flex;
      border-top: 1px solid #d5d5d6;
    }
}
/* 子元素 水平*/
.layout-horizontal {
    .popup-header_hd {
        text-align: left;
    }

    .popup-header_bd {
        text-align: left;
    }

    .popup-header_ft {
        text-align: right;
    }
}
/* 子元素 垂直*/
.layout-vertical {
    text-align: center;
}

.not-scoller-y {
    overflow-y: hidden;
}
