<div class="popup-layout">
    <div class="popup-mode"></div>
    <div class="popup-container" :style="popupContainerStyle">
        <!-- header -->
        <header class="popup-header layout-horizontal">
            <div class="popup-header_hd"></div>
            <div class="popup-header_bd">title</div>
            <div class="popup-header_ft">x</div>
        </header>
        <!-- content -->
        <section class="popup-body" :style="popupBodyStyle">
            <div class="swiper-container" ef="mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide popup-content">Slide 1</div>
                </div>
                <div class="swiper-scrollbar"></div>
            </div>
        </section>
        <!-- footer -->
        <footer class="popup-footer">
            <div class="toolbar">
                <button type="button" name="button"></button>
            </div>
        </footer>
    </div>
</div>
