<div class="popup-layout">
    <div class="popup-mode"></div>
    <div class="popup-container" :style="popupContainerStyle">
        <!-- header -->
        <header class="popup-header layout-horizontal">
            <div class="popup-header_hd"></div>
            <div class="popup-header_bd">title</div>
            <div class="popup-header_ft">x</div>
        </header>
        <!-- content -->
        <section class="popup-body" :style="popupBodyStyle">
            <!-- <app-swiper :options="swiperOption" :not-next-tick="notNextTick" ref="mySwiper">
                <app-swiper-slide class="popup-content"> -->
                    <slot></slot>



                  <!-- </app-swiper-slide>
                  <div class="swiper-scrollbar" slot="scrollbar"></div>
            </app-swiper> -->
        </section>
        <!-- footer -->
        <footer class="popup-footer">
            <div class="toolbar">
                <button type="button" name="button"></button>
            </div>
        </footer>
    </div>
</div>
